/* WARNING: ZMENY V CSS BUDOU PREPSANY, navod v .scss */
// NAVOD: npm install node-sass
// zapnout sasswatch.bat
// po kazde zmene v sass/main.scss se zmeny ulozi do main.css
body {
	background-attachment: fixed;
	background-image: url("background.jpg");
	background-size: cover;
	margin-left: auto;
	margin-right: auto;
	max-width: 1280px;
}
@font-face {
	font-family: 'Material Icons';
	font-style: normal;
	font-weight: 400;
	/* For IE6-8 */
	src: url("iconfont/MaterialIcons-Regular.eot");
	src: local('Material Icons'), local('MaterialIcons-Regular'), url("iconfont/MaterialIcons-Regular.woff2") format('woff2'), url("iconfont/MaterialIcons-Regular.woff") format('woff'), url("iconfont/MaterialIcons-Regular.ttf") format('truetype');
}
.material-icons {
	font-family: 'Material Icons';
	font-weight: normal;
	font-style: normal;
	font-size: 24px;
	/* Preferred icon size */
	display: inline-block;
	width: 1em;
	height: 1em;
	line-height: 1;
	text-transform: none;
	letter-spacing: normal;
	word-wrap: normal;

	/* Support for all WebKit browsers. */
	-webkit-font-smoothing: antialiased;
	/* Support for Safari and Chrome. */
	text-rendering: optimizeLegibility;

	/* Support for Firefox. */
	-moz-osx-font-smoothing: grayscale;

	/* Support for IE. */
	font-feature-settings: 'liga';
}

// @ TODO #000 pozadi na mobilu
#item {
	height: 52px;
	width: 52px;
}
#item-sm {
	height: 24px;
	width: 24px;
}
td {
	text-align: center;
	vertical-align: middle;
}
th {
	text-align: center;
}
.tableimage {
	background-position: center center;
	background-repeat: no-repeat;
	background-size: 52px 52px;
	height: 52px;
	padding: 5px;
	text-align: right;
	vertical-align: bottom;
	width: 52px;
}
.center {
	margin-left: auto;
	margin-right: auto;
}
$active: linear-gradient(#6284ab, 50%, #2a4563);
#main-nav {
	.active {
		background-image: $active;
		font-weight: bold;
	}
	li:hover {
		background-image: $active;
	}
}
$screen-xs-max: 768px;
$screen-sm-max: 992px;
$screen-md-max: 1200px;
@mixin pad {
	padding-left: 0 !important;
	padding-right: 0 !important;
}
@media (max-width: $screen-xs-max) {
	.col-xs-12 {
		@include pad;
	}
}
@media (min-width: $screen-xs-max) and (max-width: $screen-sm-max) {
	.col-sm-12 {
		@include pad;
	}
}
@media (min-width: $screen-sm-max) and (max-width: $screen-md-max) {
	.col-md-12 {
		@include pad;
	}
}
@media (min-width: $screen-md-max) {
	.col-lg-12 {
		@include pad;
	}
}
$inventory: #ddd;
$selected: #8d8;
$odsazeni: 5px;
.grid-item {
	background-position: center;
	background-repeat: no-repeat;
	background-size: 128px 128px;
	border: 1px solid $inventory;
	cursor: pointer;
	float: left;
	min-height: 160px;
	min-width: 182px;
}
.grid-item-selected {
	background-color: $selected;
}
.grid-item:hover {
	background-color: $inventory;
}
.grid-item2 {
	float: left;
}
.grid-craft-item {
	@extend .grid-item;
	min-height: 160px;
	min-width: 320px;
	cursor: default;
	background-color: #fff;
	text-align: left;
	.craft-suroviny {
		img {
			@extend #item-sm;
		}
	}
	.craft-name {
		@extend .name;
		max-width: 100% !important;
	}
	.craft-time {
		@extend .inv-parts;
	}
	.craft-vyzkum {
		@extend .inv-parts;
		top: $odsazeni;
		right: $odsazeni;
	}
	.craft-vyrob {
		@extend .count;
	}
}
$power-color: #f55;
.inv-parts {
	max-width: 50%;
	overflow: hidden;
	position: absolute;
	text-overflow: ellipsis;
	white-space: nowrap;
}
.name {
	@extend .inv-parts;
	bottom: $odsazeni;
	font-size: 90%;
	max-width: 92% !important;
	right: $odsazeni;
	text-align: right;
}
.count {
	@extend .inv-parts;
	font-size: 110%;
	bottom: 20 + $odsazeni;
	right: $odsazeni;
	max-width: 100% !important;
}
.power {
	@extend .inv-parts;
	background-color: $power-color;
	right: $odsazeni;
	top: $odsazeni;
}
.category {
	@extend .inv-parts;
	font-size: 90%;
	left: $odsazeni;
	top: $odsazeni;
}
.grid {
	margin: 15px 0 0;
	padding: 0;
}
