  .grid-item {
    float: left;
    width: 160px;
    height: 160px;
    cursor: pointer;
    border: 1px solid #ddd;
    background-repeat: no-repeat;
    background-position: center;
  }
  .grid-item:hover {
    background-color: #ddd;
  }
  .grid-item2 {
    float: left;
  }
  .name {
    text-align: right;
    position: absolute;
    bottom: 5px;
    right: 5px;
    font-size: 90%;
  }
  .count {
    font-size: 110%;
    position: absolute;
    bottom: 5px;
    left: 5px;
  }
  .power {
    background-color: #f55;
    position: absolute;
    top: 5px;
    right: 5px;
  }
  .category {
    font-size: 90%;
    position: absolute;
    top: 5px;
    left: 5px;
  }
  .grid {
    margin: 15px 0px 0px 0px;
    padding: 0px;
  }
