.grid-item {
  float: left;
  width: 128px;
  height: 128px;
}
.grid-item2 {
  float: left;
}
.name {
  text-align: right;
  position: absolute;
  top: 108px;
  left: 40%;
  font-size: 90%;
}
.count {
  font-size: 110%;
  position: absolute;
  top: 108px;
  left: 0px;
}
.power {
  background-color: #f55;
  text-align: center;
  position: absolute;
  top: 0px;
}
