  .grid-item {
    float: left;
    width: 128px;
    height: 128px;
    cursor: pointer;
    border: 1px solid #ddd;
  }
  .grid-item:hover {
    background-color: #ddd;
  }
  .grid-item2 {
    float: left;
  }
  .name {
    text-align: right;
    position: absolute;
    bottom: 5px;
    right: 5px;
    font-size: 90%;
  }
  .count {
    font-size: 110%;
    position: absolute;
    bottom: 5px;
    left: 5px;
  }
  .power {
    background-color: #f55;
    position: absolute;
    top: 5px;
    right: 5px;
  }
  .category {
    font-size: 90%;
    position: absolute;
    top: 0px;
    left: 0px;
  }
  .grid {
    padding: 15px;
  }
