@media screen and (min-width:1200px){
	#objednavka{
		position: fixed
	}
}
body {
	background-color: #eee;
	padding-top: 70px;
}
#item {
	width: 52px;
	height: 52px;
}
td {
	text-align: center;
	vertical-align: middle;
}
th {
	text-align: center;
}
#tableimage {
	width: 52px;
	height: 52px;
	background-repeat:no-repeat;
	background-size:52px 52px;
	background-position:center center;
}
