@media (min-width: @screen-lg-min) {
	#objednavka{
		position: fixed
	}
}
html {
    overflow-y: scroll;
}
body {
	background-color: #eee;
	padding-top: 70px;
	margin-left: auto;
	margin-right: auto;
	max-width: 1280px;/* Stránka je optimalizovaná na 1280*1024, protože takové sú kompy na antre */
	text-align: center;
	background-image: url("background.jpg"); /* pozadi se nacita dlouho, proto ho v devu vynechame */
}
#item {
	width: 52px;
	height: 52px;
}
#item-sm {
	width: 24px;
	height: 24px;
}
td {
	text-align: center;
	vertical-align: middle;
}
th {
	text-align: center;
}
.tableimage {
	width: 52px;
	height: 52px;
	background-repeat:no-repeat;
	background-size:52px 52px;
	background-position:center center;
	text-align:right;
	vertical-align:bottom;
	padding:5px;
}
.center {
	margin-left: auto;
	margin-right: auto;
}
#nabidky input{
	width:75px;
}