@media screen and (min-width:1200px){
	#objednavka{
		position: fixed
	}
}
body {
	background-color: #eee;
	padding-top: 70px;
}
#item {
	width: 24px;
	height: 24px;
}
td {
	text-align: center;
}
th {
	text-align: center;
}
